# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Build output
dist/
out/

# Next.js
.next/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Environment variables
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# OS
.DS_Store

# Ralph loop files
.ralph.lock
!.ralph.log

# Maestro files
.maestro.*

# E2E & Unit tests
test-results/
next-env.d.ts
